
header{
  position :relative
}

  .verified{
    color: aqua !important;
  }

#artistaHeader{   
  position: absolute !important;
  bottom: 1em !important;
  left: 1em !important;
}

#artistaHeader p{
  width: 106%;
}

main{color: white;}

.immaginetta {width: 5em;}

#grad1 {
  background-image: linear-gradient(	#535353, #121212);
}

.fotoProfilo{
  width: 6em;
  border-radius: 50%;
}