@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-size: 14px;
}

.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    height: 7rem;
    color: var(--primary-color);
}

i {
    color: #acacac;
}

i:hover {
    color: #dadada;
}

.song-bar {
    position: absolute;
    left: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
    padding: 0 var(--padding);
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: 6vh;
    height: 6vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.song-description p {
    margin: 0.2em;
}

.title,
.artist {
    overflow: hidden;
}

.title:hover,
.artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.artist {
    color: var(--secondary-color);
}

.icons {
    display: flex;
    gap: 1em;
}

.progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    z-index: 1;
}

.play-pause {
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
#playPauseBtn{
    z-index: 1;
}
.play-pause:hover {
    transform: scale(1.1);
    color: #111;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    position: relative;
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}

.progress {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #b3b3b3;
}

.progress-reference {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-bar:hover .progress {
    background-color: green;
}

.progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}

.progress-bar {
    display: inline-block;
}

.other-features {
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.volume-bar {
    display: flex;
    align-items: center;
    gap: .7em;
}

.volume-bar .progress-bar {
    width: 6em;
}

.volume-bar .progress-bar:hover .progress::after {
    --size: .8em;
}

.volume-reference {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active {
    color: green;
}
@media screen and (max-width: 375px) {
    #heartBtn{
        position: absolute;
        left: 1vh;
        top: .5vh;
        display: none;
    }
    #playPauseBtn {
        position: absolute;
        right: 20vh;
        top: 1vh;
    }
}
@media screen and (max-width: 414px) {
    #playPauseBtn {
        position: absolute;
        right: 17vh;
        top: 1vh;
    }
}
@media screen and (max-width: 767px) {
    .music-player {
        margin-bottom: 2vh;
        border-radius: 2.8vh;
        width: 90%;
        position: fixed; /* Aggiunto */
        bottom: 5.6vh;
        left:2vh
    }

    .other-features {
        display: none;
    }

    .song-infos img {
        visibility: hidden;
    }

    .progress-container {
        width: 320%; /* Modificato */
        position: relative;
        top: 3.5vh;
    }

    #randomBtn,
    #backwardBtn,
    #forwardBtn,
    #rewindBtn,
    #heartBtn {
        display: none;
    }

    .song-description {
        margin-bottom: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis; /* Aggiunto */
        animation: scroll 10s linear infinite;
        white-space: nowrap;
    }


    @keyframes scroll {
        0% {
            transform: translateX(10%);
        }
        100% {
            transform: translateX(-160%);
        }
    }

    #playPauseBtn {
        position: absolute;
        right: 4vh;
        top: 1vh;
    }

    .current-time,
    .total-time {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .music-player {
        margin-bottom: 2vh;
        border-radius: 3vh;
        width: 90%;
    }

    .other-features {
        display: none;
    }

    .song-infos img {
        visibility: hidden;
    }

    .progress-container {
        width: 320%; /* Modificato */
        position: relative;
        top: 3.5vh;
    }


    #playPauseBtn {
        position: absolute;
        right: 4vh;
        top: 1vh;
    }

    .current-time,
    .total-time {
        display: none;
    }
}

