.bg-green-spotify {
    background-color: #16e05d;
}

.green-spotify {
    color: #16e05d;
}

.personal-img {
    min-width: 90px;
    width: 100%;
    height: 100%;
}

.play-badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #16e05d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
}

.card:hover .play-badge {
    opacity: 1;
}

.play-badge2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #16e05d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.2s, transform 0.2s;
}

.card:hover .play-badge2 {
    opacity: 1;
    transform: translateY(0);
}

.play-badge2:hover {
    transform: translateY(0);
}

.playButton {
    width: 50px;
    position: relative;
    left: 2px;
}



.grey-bg {
    background-color: rgb(29, 29, 29)
}

.gradient-main-card {
    background: linear-gradient(184deg, rgba(35, 35, 35, 1) 0%, rgba(25, 25, 25, 1) 33%, rgba(16, 16, 16, 1) 58%, rgba(0, 0, 0, 1) 100%);
}

.grey-horizontal-card {
    background-color: rgb(44, 44, 44)
}

.grey-vertical-card {
    background-color: rgb(24, 24, 24)
}